autom4te.cache
build-aux
gnulib
lib
m4

GNUmakefile
Makefile
Makefile.in
maint.mk

.version

aclocal.m4
libtool
stamp-h1

autoscan.log
configure.scan

config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure

*.tar.*
